* {
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: none;
	padding: 0;
	margin: 0;
  font-family: 'VT323', monospace;
	}

body {
	padding: 5px;
	background-image: linear-gradient(-60deg, #5641db 0%, #1f86ef 100%);
	}

li, dd, blockquote {
	margin-left: 40px;
	list-style: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
	}

button {
	border: 1px solid grey;
}

#root {
	width: 100%;
}

.container-list {
	margin: 20px auto;
	width: 55%;
}

.container {
	display: flex;
	margin-bottom: 20px;
	width: 100%;
	padding: 20px;
	border-color: #e5e5e5;
	border-width: 2px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.52);
	-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.52);
	box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.52);
}

.upper-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.coin-symbol {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 5px;
}

.separator {
	margin-top: 10px;
}

.coin-name {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.statistic-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-right-color: #FAFAFA;
	border-width: 2px;
	padding: 10px;
}

.percent-minus {
	color: #00BFA5;
	font-weight: bold;
	margin-left: 5px;
}
.percent-plus {
	color: #DD2C00;
	font-weight: bold;
	margin-left: 5px;
}

.form-container {
	width: 55%;
	margin: 0 auto;
}

.create-input-container	{
	border-color: #e5e5e5;
	border-width: 2px;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.52);
	-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.52);
	box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.52);
}

.create-input-container	section {
	display: flex;
	flex-direction: column;
}

.create-input-container	section input,
.create-input-container	section h2,
.create-input-container	section p {
	width: 80%;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
}

.create-input-container	section button {
	height: 30px;
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.err {
	color: red;
}

.error {
    border: 1px solid red;
}
